html * {
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

textarea:focus, input:focus{
    outline: 0;
}

body {
	min-width: 320px !important;
	background: #013;
	min-height: 100%;
	min-width: 100%;
}

.header {
	background: #013;
	height: 100px;
}

.header .padding {
	margin: auto;
	width: 80%;
	background: url('img/header.jpg');
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.header h1 {
	color: #EEEEEE;
	margin: auto;
	text-align: center;
	height: 100px;
	line-height: 100px;
}

.content {
	background: #013;
}

.content .padding {
	margin: auto;
	width: 80%;
	background: #EEEEEE;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.list-element {
	position: relative;
	padding: 10px;
	list-style: none;
	min-height: 100px;
	max-height: 100px;

	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}

.list-element img {
	display: inline-block;
	margin-top: 5%;
	width: 90%;
	max-height: 90px;
	border-radius: 5px;
}

.list-element div.image,
.list-element div.title {
	display: inline-block;
    vertical-align: top;
	height: 100px;
	line-height: 50px;
}

.list-element div.image {
	width: 25%;
	max-width: 200px;
	display: inline-block;
	line-height: 50px;
}

.list-element div.title {
	width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-element.open {
	max-height: 1000px;
}

.list-element.open .list-element-content {
	max-height: 1000px;
}

.list-element-content {
	max-height: 0;
	overflow: hidden;
	width: 100%;

	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}

.list-element-content > div{
	position: relative;
	top: 30px;
	margin-bottom: 30px;
	padding: 15px;
	border: 2px solid rgb(39, 35, 111);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.list-element-content > div > p {
	text-align: left;
}

button {
	border: none;
	background: transparent;
}

button > a {
	text-decoration: none;
	display: inline-block;
	height: 40px;
	color: #FFF;
	background: #ff471a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 40px;
	padding: 0 13px 0 13px;
	background: linear-gradient(top, #ff8466 30%, #ff5b33 100%);
	background: -moz-linear-gradient(top, #ff8466 30%, #ff5b33 100%);
	background: -webkit-linear-gradient(top, #ff8466 30%, #ff5b33 100%);
}

button > a:hover {
	background: linear-gradient(top, #ff5b33 70%, #cc2900 100%);
	background: -moz-linear-gradient(top, #ff5b33 70%, #cc2900 100%);
	background: -webkit-linear-gradient(top, #ff5b33 70%, #cc2900 100%);
}

.list-element .related {
	display: none;
}

.display {
	display: inline !important;
}

.related li {
	list-style: none;
}

.related-item {
	color: #313131;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 30px;
	font-size: 12px;
	line-height: 15px;
	background: #BBB;
	padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.related-item:hover {
	background: #CCC;
}

@media screen and (max-width: 900px) {
	.header .padding,
	.content .padding {
		width: 90%;
		max-width: 450px;
	}

	.list-element {
		padding: 15px;
		max-width: 100%;
		max-height: 500px;
	}

	.list-element img {
		max-height: 500px;
		width: 100%;
		height: auto;
	}

	.list-element div.image,
	.list-element div.title {
		height: auto;
		max-width: 100%;
		display: inline-block;
		position: initial;
		width: 100%;
	}

	.list-element div.title {
		height: 50px;
		line-height: 25px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.list-element-content > div{
		top: 20px;
		margin-bottom: 20px;
	}
}

.footer {
	color: #CCC;
	position: relative;
	top: 25px;
    bottom: 0;
    height: 50px;
	background: url('img/grey-pattern.png');
    width: 100%;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    font-family: Arial;
    font-weight: bold;
}

.loading-content {
	min-width: 320px;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	color: #DDD;
	z-index: 999;
	padding: 100px 0;
}

.loading-content .process {
	vertical-align: top;
	margin: 15px;
	width: 150px;
}

.loading-content span.loading {
	vertical-align: top;
	float: left;
	margin-top: 15px;
	width: 100%;
	height: 10px;
	background: #BBB;
}

.loading-content span.loaded {
	vertical-align: top;
	float: left;
	margin-top: 15px;
	width: 0%;
	height: 10px;
	background: blue;
}

.hide {
	display: none;
}

.search-wrapper {
	width: 100%;
	height: 40px;
}

#filter {
	width: 80%;
	border: 2px solid #CCC;
	border-radius: 15px;
	height: 30px;
	padding: 0 15px 0 15px;
	display: inline-block;
	margin: 10px 0;
}

#filter:focus {
	border: 2px solid #ff5b33;
}

#no-results {
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 500px) {
	#filter {
		font-size: 10px;
	}
}

@media screen and (max-width: 400px) {
	#filter {
		font-size: 8px;
	}
}